@media (max-width:600px){
    .container{
        max-width: 100%;
        padding: 0 10px;
    }
    nav{
        flex-direction: column;
    }
    #logo{
        margin-left: 7px;
    }
    .nav-menu{
        flex-direction: column;
        margin: 7px 0;
    }
    .nav-menu li {
        padding: 15px;
        border-top: 1px solid;
    }
    .nav-icons{
        flex-direction: column;
        margin: 0;
        padding-left: 15px;
    }
    .donate-btn{
        margin-bottom: 36px;
        margin-left: 7px;
    }
    /* banner */
    #banner-section{
        background: #000;
    }
    .banner-left-content{
        max-width: 100%;
    }
    /* ##########  about us ########## */
    .about-content{
        flex-direction: column;
    }
    iframe{
        max-width: 100%;
    }
    /* our vision */
    #vision-section h1{
        padding-top: 0;
    }
    /* program section */
    .program-content{
        flex-direction: column;
    }
    .program-left-data{
        width: 100%;
    }
    .program-right-data{
        width: 100%;
        padding-left: 5px;
    }
    .program-services{
        flex-direction: column;
        width: 100%;
        top: 20px;
    }
    .program-services-card{
        width: 100%;
    }
    /* reach section */
    .reach-content{
        flex-direction: column;
    }
    .reach-box{
        width: 100%;
    }
    .reach-box p{
        padding: 10px 0;
    }
    /* other website images */
    .website-images{
        flex-direction: column;
        width: 100%;
    }
    .website-images img{
        padding: 10px 0;
        margin: 0 auto;
    }
}